@import "~antd/dist/antd.css";
@import "../fonts/Pxgrotesk/PxGroteskRegular-Regular.css";

* {
  font-family: "PxGroteskRegular" !important;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

body {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.5em;
  background-color: #eeeeee;
  color: #3c4858;
  margin: 0;
}

.ant-menu-inline .ant-menu-item {
  font-size: 16px;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: #0074a6;
}

.ant-menu-item .anticon,
.ant-menu-submenu-title .anticon,
.ant-menu-inline .ant-menu-submenu-title {
  font-size: 16px;
}

.ant-menu-dark,
.ant-layout-sider,
.ant-tooltip-inner {
  background-color: #1a455b;
}

.ant-tooltip-placement-bottom .ant-tooltip-arrow {
  border-bottom-color: #1a455b;
}

.ant-menu-dark .ant-menu-item,
.ant-menu-dark .ant-menu-item-group-title,
.ant-menu-dark .ant-menu-item > a {
  color: rgba(255, 255, 255, 1);
}

.ant-layout-sider-trigger {
  display: none;
}

.ant-layout-content {
  padding: 40px 30px;
}

.ant-layout-header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 68px;
  line-height: 68px;
  padding: 0 30px;
}

.text_row {
  margin-bottom: 10px;
}

.card_row, .ant-form-item.card_row {
  margin-bottom: 20px;
}

.container_row {
  margin-bottom: 40px;
}

.ant-input-group-addon:first-child {
  min-width: 130px;
  font-size: 0.9em;
}

a {
  color: #1a455b;
}

a:hover,
.ant-btn-primary:hover {
  color: #0074a6;
}

.ant-btn-primary {
  background-color: #0074a6;
  border-color: #0074a6;
}

.register_message {
  display: flex;
  justify-content: space-around;
  font-size: 16px;
}

.register_message > a {
  color: #0074a6;
}

.layout_blocked > * {
  z-index: 10000000000;
  opacity: 0.1;
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}

.ant-menu-dark .ant-menu-inline.ant-menu-sub,
.ant-menu-dark,
.ant-menu-dark .ant-menu-sub {
  background-color: transparent;
}

.step_title {
  font-size: 16px;
  display: inline-block;
  margin-bottom: 10px;
}

.navigation {
  min-width: 420px;
}

.navigation__item_confirmed,
.navigation__item_confirmed:hover,
.confirmed {
  color: #52c41a;
}

.navigation__item_locked,
.navigation__item_locked:hover {
  color: #565855;
}

.navigation__item_opened,
.navigation__item_opened:hover {
  color: #3346c4;
}

.ant-upload.ant-upload-select-picture-card {
  width: 112px;
  height: 112px;
  margin-bottom: 14px;
}

.ant-btn.ant-btn-primary.christmas:before {
  display: none !important;
}

.disclaimer {
  max-height: 60vh;
  overflow-y: scroll;
}

.consent {
  padding-top: 60px;
}

.card_verified > .ant-card-body {
  position: relative;
  opacity: 0.5;
}

.ant-upload-list-picture-card .ant-upload-list-item {
  width: 112px;
  height: 112px;
  margin-bottom: 14px;
}

.ant-upload-list-item-info > span {
  height: 100%;
}

/*.ant-upload-list-picture-card .ant-upload-list-item-actions{*/
/*display: none;*/
/*}*/

.ant-upload-list-picture-card .ant-upload-list-item-thumbnail,
.ant-upload-list-picture-card .ant-upload-list-item-thumbnail img {
  height: auto;
}

.ant-upload-list-picture-card .ant-upload-list-item-actions .anticon-eye-o {
  display: none;
}

.link {
  cursor: pointer;
}

.ant-table-wrapper.table_expanded .ant-table-tbody {
  font-size: 12px;
}

.ant-calendar-footer {
  display: none;
}

.table_small .ant-form-itemant-table-tbody {
  font-size: 12px;
}

.ant-form-item{
  margin-bottom: 0;
}

/*#birth_date,*/
/*#investment_plan {*/
  /*width: calc(100% - 130px);*/
  /*margin-left: 130px;*/
  /*position: relative;*/
/*}*/

/*#birth_date:before,*/
/*#investment_plan:before {*/
  /*content: "";*/
  /*display: flex;*/
  /*position: absolute;*/
  /*width: 130px;*/
  /*height: 32px;*/
  /*font-size: 0.9em;*/
  /*top: 0;*/
  /*left: -130px;*/
  /*padding: 5px;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  /*border: 1px solid #d9d9d9;*/
  /*border-radius: 4px;*/
  /*border-right: none;*/
  /*border-bottom-right-radius: 0;*/
  /*border-top-right-radius: 0;*/
  /*color: rgba(0, 0, 0, 0.65);*/
  /*text-align: center;*/
  /*background-color: #fafafa;*/
  /*font-family: "PxGroteskRegular";*/
/*}*/

#birth_date {
  width: 100%;
}

/*#investment_plan:before {*/
  /*content: "Contribution";*/
/*}*/

/*.ant-calendar-picker-input {*/
  /*border-top-left-radius: 0;*/
  /*border-bottom-left-radius: 0;*/
/*}*/

/*#investment_plan .ant-select-selection {*/
  /*border-top-left-radius: 0;*/
  /*border-bottom-left-radius: 0;*/
/*}*/

.button_addSubownerDataCollection {
  margin-bottom: 4px;
}

.card_stats_skeleton {
  max-height: 125px;
  overflow: hidden;
  padding: 3px 10px;
}

.card_stats_skeleton .ant-card-body {
  padding: 0px 15px;
}

.card_allowance_skeleton {
  min-height: 276px;
  min-width: 315px;
  overflow: hidden;
  padding: 3px 10px;
}

.auth_view {
  padding-top: 40px;
}

.main_title {
  display: flex;
  justify-content: center;
  font-size: 1.7em;
  margin-bottom: 40px;
}

.auth_view .ant-card {
  max-width: 550px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.forgot_password_button {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.metamask_not_logged_in {
  position: relative;
  opacity: 0.5;
}

.ant-tabs .ant-tabs-top-content.ant-tabs-content-animated,
.ant-tabs .ant-tabs-bottom-content.ant-tabs-content-animated {
  min-height: 178px;
}

.ant-tabs-nav .ant-tabs-tab {
  padding: 0;
}

.ant-tabs-nav .ant-tabs-tab > span {
  display: block;
  padding: 12px 16px;
}

.ant-upload-list-picture .ant-upload-list-item-error,
.ant-upload-list-picture-card .ant-upload-list-item-error {
  border-color: #1a455b;
}

.phone_input_group {
  display: flex;
}

.ant-input {
  font-family: "PxGroteskRegular";
}

.ant-input_prefix {
  position: absolute;
  left: 166px;
  top: 6px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.65);
}

.ant-input.ant-input_phone,
.ant-input.ant-input_phone:focus {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
  border-color: #d9d9d9;
  box-shadow: none;
}

.countries-select-prefix .ant-select-selection,
.countries-select-prefix .ant-select-selection:focus {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
  border-color: #d9d9d9;
}

.ant-input.ant-input_phone.ant-input_phone_success,
.ant-input.ant-input_phone.ant-input_phone_success:focus,
.countries-select-prefix.ant-input_phone_success .ant-select-selection,
.countries-select-prefix.ant-input_phone_success .ant-select-selection:focus {
  border-color: #52c41a;
}

.ant-input.ant-input_phone.ant-input_phone_failed,
.ant-input.ant-input_phone.ant-input_phone_failed:focus,
.countries-select-prefix.ant-input_phone_failed .ant-select-selection,
.countries-select-prefix.ant-input_phone_failed .ant-select-selection:focus {
  border-color: red;
}

.flex-row {
  display: flex;
  align-items: center;
}

.ant-table-thead {
  font-size: 0.9em;
}

.ant-card-body .card_description {
  word-break: break-word;
}

.responsive_row {
  margin-bottom: 0;
}

.responsive_tier_step {
}

.card_row.has-error {
  color: #f5222d;
}

@media screen and (max-width: 1400px) {
  .responsive_row {
    margin-bottom: 40px;
  }

  .responsive_row.ant-col-xl-8 {
    width: 100%;
  }

  .responsive_tier_step {
    margin-left: 0;
    padding-left: 24px !important;
    padding-right: 24px !important;
    width: 100%;
  }
}

.logo_divider + .ant-menu-item{
  margin-top: 0 !important;
}
